/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea { color: #ddd; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-shadow: #000 1px 2px 3px; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #499bd1; }
a:hover { color: #ccc; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button, .pointer { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }








/* Primary Styles */

body {
    background: #000 url("/images/bg.jpg") 0 0 repeat;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

#container { margin: 20px auto; text-align: left; width: 1000px; }


/* Header */

#header { margin: 0 0 20px 0; }

#headerLogo {
    background: transparent url("/images/logo.png") 0 0 no-repeat;
    border: 1px solid red;
    display: block;
    float: left;
    height: 32px;
    width: 100px;
}

#headerMenu { color: #499bd1; float: right; font-size: 14px; text-shadow: #000 0 1px 1px; }

#headerMenu a,
#headerMenu a:active,
#headerMenu a:visited { color: #ddd; font-weight: bold; padding: 0 5px; text-decoration: none; }

#headerMenu a:hover { color: #fff; }


/* Playlist Display */

#playlistDiplay { float: left; width: 500px; border: 1px solid red;}

#playlist { color: #444; font-size: 14px; }

#playlist .icon { width: 40px; }

#playlist .title { width: 260px; }
#playlist .artist { font-style: italic; width: 200px; }

#playlist tr { border-bottom: #A3A3A3 1px solid; height: 28px; }

#playlist th,
#playlist td { vertical-align: middle; }

#playlist tr { background-color: #eee; }
#playlist tr.odd { background-color: #ddd; }
#playlist .song:hover { background-color: #98d0f4;}

#playlist th { background-color: #000; color: #ddd; height: 35px; font-style: italic;}

#playlist .playing { background: transparent url("/images/speaker.png") 6px 3px no-repeat; }

#videoDisplay, #outerVideoDisplay { border-bottom: #A3A3A3 1px solid; height: 290px; width: 500px; }

.fixedVideo #videoDisplay { position: fixed !important; top: 0 !important;}


/* Song Display */

#songDisplay { float: right; margin: 5px auto; width: 480px; }

#songInfo h2 { border-bottom: #444 1px solid; margin: 0 0 12px 0; }

#currentlyPlayingHeader { font-size: 16px; font-style: italic; font-weight: normal; margin: 10px 0;}

#curAlbumArt { float: left; height: 150px; margin: 0 10px 0 0; width: 150px; }

#curTextBlock { float: left; }

/* Comments */

#comments { margin: 30px 0 0 0; }

#comments h3 { border-bottom: #444 1px solid; margin: 0 0 15px 0; }

/*#drop {
    border: 2px dashed red;
    height: 100px;
    width: 300px;
    margin-bottom: 30px;
}
*/











@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

