{% block mini-browser %}
<section class="searchPartial slide">
  <form class="searchBox">
    <input type="text" class="search" name="search" spellcheck="false">
    <input type="submit" class="submit" name="submit" value="Search">
  </form>
  <div class="songResults clearfix" style="display: none;">
    <h3>Songs</h3>
  </div>
  <div class="artistResults clearfix" style="display: none;">
    <h3>Artists</h3>
  </div>
  <div class="albumResults clearfix" style="display: none;">
    <h3>Albums</h3>
  </div>
</section>
{% end %}

{% block scripts-partial %}
{% end %}
