<section class="meetTheTeamPartial slide">
  <div>
    <p><strong>Instant.fm</strong> was painstakingly crafted, pixel-by-pixel, by two music-loving Stanford computer science students. We hope that it delights you!</p>
  </div>
  <div class="clearfix topTeamMembers">
    <div class="teamMember feross">
      <img src="/images/anonymous.png">
      <h2>Feross Aboukhadijeh</h2>
      <h3>Pure, concentrated, awesome.</h3>
      <p>Feross lives in California, United States and is one of the most talented programmers in the world. Feross is currently studying computer science at Stanford University, and has interned for Facebook working on the Groups feature that he and his team rolled out to 500 Million People. In 2010, Feross create YouTube Instant – www.ytinstant.com – which received 1,000,000 visits within the first 10 days and garnered national and international press. Feross’s website is www.feross.org.</p>
    </div>
    <div class="teamMember jake">
      <img src="/images/anonymous.png">
      <h2>Jake Becker</h2>
      <h3>Very soft hair.</h3>
      <p>Computer science student at Stanford University. I'm interested in Internet technology, web development, and computer security. I like hacking on cool software projects, running, basketball, retro video games, and shiny gadgets.</p>
    </div>
  </div>
  <div class="additionalCredits">
    <h1>Special Thanks To</h1>
    <ul>
      <li><strong>John Hiesey</strong>, author of the original iTunes playlist parser.</li>
      <li><strong>John Ousterhout</strong>, who advised us throughout this adventure.</li>
    </ul>
  </div>
  <div class="contact">
    <h1>Contact Us</h1>
    <p>Want to get in touch, or just say hello? Email us at <a href="mailto:team@instant.fm">team@instant.fm</a>.</p>
  </div>
</section>
