<section class="meetTheTeamPartial slide">
  <div>
    <p><strong>Instant.fm</strong> was painstakingly crafted, pixel-by-pixel, by two music-loving Stanford computer science students. We hope that it delights you!</p>
  </div>
  <div class="clearfix topTeamMembers">
    <div class="teamMember feross">
      <img src="/images/anonymous.png">
      <h2>Feross Aboukhadijeh</h2>
      <h3>Pure, concentrated, awesome.</h3>
      <p> Hi! My name's Feross, and I'm a Stanford student and audiophile. I started this site to make playlist sharing fast and easy so I could share my ecclectic music tastes with the world. I hope you'll share yours, too! </p>
    </div>
    <div class="teamMember jake">
      <img src="/images/anonymous.png">
      <h2>Jake Becker</h2>
      <h3>Very soft hair.</h3>
      <p>Hello! I'm a computer science student at Stanford University, focusing on web programming and computer systems. When I'm not coding, I enjoy biking, LAN parties, listening to audiobooks, and reading Quora. </p>
    </div>
  </div>
  <div class="additionalCredits">
    <h1>Special Thanks To</h1>
    <ul>
      <li><strong>John Hiesey</strong>, author of the original iTunes playlist parser.</li>
      <li><strong>John Ousterhout</strong>, who advised us throughout this adventure.</li>
    </ul>
  </div>
  <div class="contact">
    <h1>Contact Us</h1>
    <p>Want to get in touch, or just say hello? Email us at <a href="mailto:team@instant.fm">team@instant.fm</a>.</p>
  </div>
</section>
