.DS_Store
*.log
static/images/uploaded/*

# Don't commit build folder for python packages
build/



# Don't commit the tts mp3s
static/tts/*.mp3

# Don't commit the built site
publish/

# Don't commit build #. That stays server-side.
buildinfo.properties

# PYTHON START

*.py[co]

# Packages
*.egg
*.egg-info
dist
eggs
parts
bin
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# PYTHON END
