<section class="meetTheTeamView view">
  <div class="intro">
    <img class="logo" src="/images/logo4-alone-460.png">
    <p><strong>Instant.fm</strong> was painstakingly crafted, pixel-by-pixel, by two music-loving Stanford computer science students. We hope that it delights you!</p>
  </div>
  <div class="clearfix topTeamMembers">
    <div class="teamMember feross">
      <img src="/images/feross.jpg">
      <h2>Feross Aboukhadijeh</h2>
      <h3>Pure, concentrated, awesome.</h3>
      <p>Hi! My name's Feross, and I'm a Stanford student and audiophile. I started this site to make playlist sharing fast and easy so I could share my eclectic music tastes with the world. I hope you'll share yours, too!</p>
      <h3 class="links">Follow me:
        <a href="http://www.feross.org" target="_blank">Blog</a>
        <a href="http://www.twitter.com/FreeTheFeross" target="_blank">Twitter</a>
        <a href="http://www.quora.com/Feross-Aboukhadijeh" target="_blank">Quora</a>
      </h3>
    </div>
    <div class="teamMember jake">
      <img src="/images/jake.jpg">
      <h2>Jake Becker</h2>
      <h3>Very soft hair.</h3>
      <p>Hello! I'm a computer science student at Stanford University, focusing on web programming and computer systems. When I'm not coding, I enjoy biking, LAN parties, listening to audiobooks, and reading Quora.</p>
      <h3 class="links">Follow me:
        <a href="http://www.quora.com/Jake-Becker" target="_blank">Quora</a>
      </h3>
    </div>
  </div>
  <div class="additionalCredits">
    <h1>Special Thanks To</h1>
    <ul>
      <li><strong>John Hiesey</strong>, author of the original iTunes playlist parser.</p></li>
      <li><strong>John Ousterhout</strong>, who advised us throughout this adventure.</li>
    </ul>
  </div>
  <div class="contact">
    <h1>Contact Us</h1>
    <p>Want to get in touch, or just say hello? Email us at <a href="mailto:team@instant.fm" target="_blank">team@instant.fm</a>.</p>
  </div>
</section>
