{% extends "base.html" %}

{% block bodyId %}p{% end %}

{% block body %}
  <div class="clearfix" id="main">
    <div id="playlistDisplay">
    
      <header id="header">
        <a class="ir" href="/" id="headerLogo">
          <h1>Instant.fm - Share Music Playlists Instantly</h1>
        </a>
      </header>
    
      <div id="videoDiv">
        <div id="videoTools">
          <a href="#shuffle" id="shuffle" class="small awesome">
            Shuffle
          </a>
          <a href="#repeat" id="repeat" class="small awesome">
            Repeat
          </a>
        </div>
        <div id="player">&nbsp;</div>
      </div>
      
      <div id="playlistDiv">
        <ul id="playlist">
          <!-- Loaded via JS -->
        </ul>
      </div>
      
    </div> <!-- end of #playlistDisplay -->
  
  
    <div id="infoDisplay">
      
      <nav class="clearfix" id="headerMenu">
        <a href="#">My Playlists</a>
        <a href="#">Sign Up</a>
      </nav>
    
      <div id="FS_slider" class="clearfix">
        <div id="FS_holder">
          
          <div id="curPlaylist" class="slide">
            <section id="curPlaylistInfo">
              <header class="clearfix">
                <h2 id="curPlaylistTitle">&nbsp;</h2>
              </header>
              <article>
                <span id="curPlaylistDesc">&nbsp;</span>
              </article>
        
              <section id="playlistActions">
                <a href="#addComment" id="addComment" class="awesome">
                  Add a comment
                </a>
                <a href="#fbShare" id="fbShare" class="darkblue awesome">
                  Share on Facebook
                </a>
                <a href="#twShare" id="twShare" class="blue awesome">
                  Share on Twitter
                </a>
              </section> <!-- end of #playlistActions -->
                
              <!-- <a href="#TODO" id="curPlaylistAuthor">
                <img alt="Feross Aboukhadijeh" src="/images/profilepic.jpg" />
                <div>Feross Aboukhadijeh</div>
              </a> -->
            </section>
            
            <!-- Facebook comments are loaded with JS here -->

            <section id="curPlaying">
              <header>
                <h3>Currently Playing</h3>
              </header>
              <div class="clearfix" id="curAlbumBlock">
                <div id="curAlbumImg">
                  <span class="zoomIcon">&nbsp;</span>
                </div>
                <div id="curAlbumInfo">
                  <div id="curSong">
                    <h4>&nbsp;</h4>
                  </div>
                  <div id="curArtist">
                    <span class="curLabel">by</span> 
                    <h4>&nbsp;</h4>
                  </div>
                  <div id="curAlbum">
                    <span class="curLabel">on</span> 
                    <h4>&nbsp;</h4>
                  </div>
                </div>
                <!-- <fb:like href="http://dev.instant.fm/#" show_faces="false" width="300" colorscheme="dark"></fb:like> -->
              </div> <!-- end of #curAlbumBlock -->

              <div id="curDescs">
                <section id="curSongDesc">
                  <h4>&nbsp;</h4> 
                  <article>&nbsp;</article>
                </section>
                <section id="curArtistDesc">
                  <h4>&nbsp;</h4>
                  <span id="curArtistImg">
                    <span class="zoomIcon">&nbsp;</span>
                  </span>
                  <article>&nbsp;</article>
                </section>
              </div> <!-- end of #curDescs -->

            </section> <!-- end of #curPlaying -->
            
          </div> <!-- end of #curPlaylist -->

        </div> <!-- end of #FS_holder -->
      </div> <!-- end of #FS_slider -->
      
        
      <footer id="footer">
        <strong><a href="#">Instant.fm</a></strong> |
        <a href="#">FAQ</a> |
        <a href="#">Blog</a> |
        <a href="#">Contact</a>
        <a href="#helpBox" id="helpLink">Keyboard shortcuts available</a>
      </footer>
    
    </div> <!-- end of #infoDisplay -->
  

  </div> <!-- end of #main -->

  <div class="invisible" id="devNull">
    <div id="curAlbumImgZoom">&nbsp;</div>
    <div id="curArtistImgZoom">&nbsp;</div>
  
    <div id="helpBox">
      <div class="fancyZoomHeader">Keyboard shortcuts</div>
      
      <section class="helpSection">
        <div class="fancyZoomSectionHeader">Music control</div>
        <dl class="clearfix shortcut">
          <dt class="key">space</dt>
          <dd class="action">Play/pause</dd>
        </dl>
        <dl class="clearfix shortcut">
          <dt class="key">&larr;</dt>
          <dt class="key">&rarr;</dt>
          <dd class="action">Previous/next song</dd>
        </dl>
        <dl class="clearfix shortcut">
          <dt class="key">+</dt>
          <dt class="key">-</dt>
          <dd class="action">Volume up/down</dd>
        </dl>
        <dl class="clearfix shortcut">
          <dt class="key">?</dt>
          <dd class="action">Bring up this help dialog</dd>
        </dl>
      </section>
      <section class="helpSection">
        <div class="fancyZoomSectionHeader">Playlist editing</div>
        <dl class="clearfix shortcut">
          <dt class="key">j</dt>
          <dd class="action">Move current song down</dd>
        </dl>
        <dl class="clearfix shortcut">
          <dt class="key">k</dt>
          <dd class="action">Move current song up</dd>
        </dl>
      </section>
    </div> <!-- end of #helpBox -->
          
  </div> <!-- end of #devNull -->
{% end %}

{% block scripts %}
    <script>var initial_playlist = {{ playlist.replace('<', '\u003c').replace('>', '\u003e') }};</script>
    <script>
      $(function() {
          onloadPlaylist();
      });
    </script>
{% end %}