/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea { color: #ddd; }

h1,h2,h3,h4,h5,h6 { font-weight: bold; text-shadow: #000 0px 1px 1px; }

html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #499bd1; text-decoration: none; }
a:hover { color: #ccc; text-decoration: underline; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button, .pointer { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }








/* Primary Styles */

body { background: #000 url("/images/bg.jpg") 0 0 repeat; text-align: center; }

body, .ui-widget { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important; }

h1 { font-size: 34px; margin: 0 0 12px 0; }
h2 { font-size: 28px; margin: 0 0 10px 0; }
h3 { font-size: 22px; margin: 0 0 8px 0; }
h4 { font-size: 16px; margin: 0 0 7px 0; }
h5 { font-size: 14px; margin: 0 0 4px 0; }
h6 { font-size: 12px; }

#container { margin: 25px auto; text-align: left; width: 1000px; }


/* Header */

#header { margin: 0 0 20px 0; }

#headerLogo {
    background: transparent url("/images/logo.png") 0 0 no-repeat;
    display: block;
    float: left;
    height: 35px;
    margin: 0 0 0 5px;
    width: 360px;
}

#headerMenu { color: #499bd1; float: right; font-size: 14px; font-weight: bold; text-shadow: #000 0 1px 1px; }

#headerMenu a,
#headerMenu a:active,
#headerMenu a:visited,
#footer a,
#footer a:active,
#footer a:visited { color: #ddd; padding: 0 5px; text-decoration: none; }

#headerMenu a:hover,
#footer a:hover { color: #fff; text-decoration: underline; }


/* Playlist Display (right) */

#playlistDisplay { float: left; width: 480px; }

#playlist { color: #444; font-size: 13px; padding: 0; margin: 0; }

#playlist li {
    background-color: #f3f6fa;
    border-bottom: #D3D3D3 1px solid; 
    cursor: pointer;
    list-style-type: none;
    width: 480px;
}
#playlist li.odd { background-color: #fff; }

#playlist span { display: inline-block; padding: 3px 0; vertical-align: middle; }
#playlist .title { margin: 1px 0 0 5px; padding: 2px 5px 3px 25px; width: 220px; }
#playlist .artist { padding: 3px 5px 3px 0; width: 190px; }
#playlist .handle { padding: 3px 3px 3px 3px; width: 15px; }

#playlist li:hover { background-color: #c5defe; }

#playlist li:hover .handle {
    background: transparent url("/images/drag.png") 4px left no-repeat;
    cursor: url('/images/cursors/move.cur'), move;
}

#playlist li.playing { background-color: #3990ea; color: #fff}
.playing .title { background: transparent url("/images/speaker.png") 0 0 no-repeat; }
.playing.paused .title { background: transparent url("/images/speaker-off.png") 0 0 no-repeat; }

#videoDiv, #outerVideoDiv { border-bottom: #A3A3A3 1px solid; height: 295px; width: 480px; }

#videoDiv { position: fixed; }


/* Info Display (right) */

#infoDisplay {
    float: right;
    font-size: 14px;
    text-shadow: #000 0px 1px 1px;
    width: 485px;
}

#infoDisplay h2, #infoDisplay h3 { border-bottom: #444 1px solid; }


/* Current Playlist Information */

#curPlaylist footer { margin: 12px 0 0 0; }

#curPlaylistAuthor { float: right; margin-top: -2px; }
#curPlaylistAuthor div { float: left; margin: 4px 0 0 5px; }
#curPlaylistAuthor img { float: left; height: 25px; width: 25px; }


/* Currently Playing Song */

#curPlaying { margin: 25px 0 0 0; }

.curLabel {
    color: #666;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    margin: 0 3px 0 0;
    overflow: hidden;
    text-align: right;
    width: 35px;
    vertical-align: middle;
}

#curAlbumImg, #curArtistImg {
    -webkit-box-reflect:below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.80, transparent), to(rgba(0, 0, 0, 0.6)));
    border-bottom: transparent 2px solid;
    width: 150px;
}
#curAlbumImg { float: left; height: 150px; margin: 0 12px 20px 0; }
#curArtistImg { float: right; margin: 0 0 20px 6px; }

#curAlbumInfo { float: left; width: 320px; }

#curSong h4, #curArtist h4, #curAlbum h4 { display: inline-block; width: 260px; }

#curAlbum { display: 0; /* starting value */ }

#curDescs { margin: 20px 0 0 0; }

#curDescs article { margin: 25px 0 0 0; }

#curSongDesc { clear: left; }

.seeMore { font-size: 12px; margin-left: 5px; }

.textDialog { color: #000; margin: 10px 8px 8px 8px; font-size: 13px; line-height: 1.4; text-align: left; }


/* Comments */

#comments { display: none; margin: 50px 0 0 0; }

#comments h3 { border-bottom: #444 1px solid; margin: 0 0 15px 0; }


/* Help */

#help { display: none; padding: 5px 10px; }

#help .shortcut {
    height: 25px;
    margin: 5px 0;
}

#help .key {
    background-color: #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    float: left;
    font-family: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 7px;
    margin-right: 7px;
    text-shadow: #000 0 1px 1px;
}

#help .action { color: #555; float: left; font-size: 12px; padding-top: 3px; }


/* Footer */

#footer {
    border-top: #444 1px solid;
    color: #499bd1;
    font-size: 12px;
    margin: 20px 0 30px 0;
    padding: 15px 0 0 0;
}

#footer #keyboardShortcutsAvailable {
    background: transparent url("/images/keyboard.png") top right no-repeat;
    display: block;
    float: right;
    padding: 0 25px 0 0;
}

/*#drop {
    border: 2px dashed red;
    height: 100px;
    width: 300px;
    margin-bottom: 30px;
}
*/











@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

