<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js {% if handler.get_current_user() is not None %}loggedIn{% else %}loggedOut{% end %}{% block html-classes %}{% end %}" id="{% block bodyId %}{% end %}" lang="en" xmlns:og="http://ogp.me/ns#"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Page Info -->
  <title>{{ title if title is not None else 'Instant.fm' }}</title>
  <meta name="description" content="{% block meta-description %}The easiest way to share music playlists with friends. Upload playlists directly from iTunes (M3U, TXT, PLS) and share with friends on Facebook and Twitter.{% end %}">
  <meta name="keywords" content="music, playlist, share M3U playlist, share music, social music, social playlists">

  <!-- Open Graph -->
  {% block open-graph %}{% end %}
  
  <meta property="fb:app_id" content="114871205247916"/>
  
  <!-- Chrome application shortcut -->
  <meta name="application-name" content="Instant.fm"/>
  <meta name="application-url" content="http://instant.fm"/>
  
  <!-- Mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!-- Credit where credit is due -->
  <meta name="author" content="Feross Aboukhadijeh">
  <meta name="author" content="Jake Becker">
  <meta name="author" content="John Hiesey">

  <!-- styles concatenated and minified via ant build script-->
  <link rel="stylesheet" href="/css/libs/boilerplate-start.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/libs/colorbox.css">
  <link rel="stylesheet" href="/css/awesomebuttons.css">
  <link rel="stylesheet" href="/css/libs/ui-darkness/jquery-ui-1.8.8.custom.css">
  <link rel="stylesheet" href="/css/libs/boilerplate-end.css">
  <!-- end styles -->

  <!--[if lt IE 9]>
  <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->
  <script src="/js/libs/modernizr.custom.17264.js"></script>

  {% block head %}{% end %}
</head>

<body>
    {% block body %}{% end %}

    <div id="fb-root"></div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"></script>
    <script>window.jQuery || document.write("<script src='/js/libs/jquery-1.5.2.min.js'>\x3C/script>")</script>
    <script src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

    <script>
    {% block scripts %}{% end %}
    </script>

    <!-- scripts concatenated and minified via ant build script-->

    <script src="/js/mylibs/base.js"></script>
    <script src="/js/mylibs/jquery-ui-1.8.8.custom.min.js"></script>
    <script src="/js/mylibs/jquery.autogrow.js"></script>
    <script src="/js/mylibs/jquery.colorbox.js"></script>
    <script src="/js/mylibs/jquery.fileupload.js"></script>
    <script src="/js/mylibs/jquery.jeditable.js"></script>
    <script src="/js/mylibs/jquery.shorten.js"></script>
    <script src="/js/mylibs/jquery.jsizes.min.js"></script>
    <script src="/js/mylibs/jquery.tmpl.min.js"></script>
    <script src="/js/mylibs/lastfm.api.cache.js"></script>
    <script src="/js/mylibs/lastfm.api.js"></script>
    <script src="/js/mylibs/lastfm.api.md5.js"></script>
    <script src="/js/mylibs/rpc.js"></script>
    <script src="/js/mylibs/sha1.min.js"></script>
    <script src="/js/mylibs/soundmanager2-nodebug.min.js"></script>

    <script src="/js/browser.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/model.js"></script>
    <script src="/js/player.js"></script>
    <script src="/js/setup.js"></script>
    <script src="/js/ui.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/views.js"></script>

    <!-- end scripts -->

    <!--[if lt IE 7 ]>
      <script src="js/libs/dd_belatedpng.js"></script>
      <script>DD_belatedPNG.fix("img, .png_bg");</script>
    <![endif]-->

    <script>
      var _gaq=[["_setAccount","UA-3898076-11"],["_trackPageview"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
    </script>
  
    {{ xsrf_form_html() }}
</body>
</html>