{% import json %}

<!DOCTYPE html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js {% block html-classes %}{% end %}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Instant.fm - Share Music Playlists Instantly</title>
  <meta name="description" content="The easiest way to share music playlists with friends. Upload playlists directly from iTunes (M3U, TXT, PLS) and share with friends on Facebook and Twitter.">
  <meta name="keywords" content="music, playlist, share M3U playlist, share music, social music, social playlists">
  
  <meta name="application-name" content="Instant.fm"/>
  <meta name="description" content="Share music instantly."/>
  <meta name="application-url" content="http://instant.fm"/>
  
  <meta name="author" content="Feross Aboukhadijeh">
  <meta name="author" content="Jake Becker">
  <meta name="author" content="John Hiesey">
  
  <meta property="fb:app_id" content="114871205247916"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" sizes="16x16">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="/css/style.css?v=2">
  <link rel="stylesheet" href="/css/ui-darkness/jquery-ui-1.8.8.custom.css">
  
  {% block head %}{% end %}
  <script src="/js/libs/modernizr-1.6.min.js"></script>
</head>

<body id="{% block bodyId %}{% end %}">
  {% block body %}{% end %}
  
  <div id="fb-root"></div>

  <!-- START SCRIPTS -->
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <script src="/js/libs/html5uploader.js"></script>
  
  <script src="/js/libs/jquery-ui-1.8.8.custom.min.js"></script>
  <script src="/js/plugins.js"></script>
    
  <script src="/js/libs/lastfm.api.md5.js"></script>
  <script src="/js/libs/lastfm.api.cache.js"></script>
  <script src="/js/libs/lastfm.api.js"></script>
  
  <script src="/js/browser.js"></script>
  <script src="/js/model.js"></script>
  <script src="/js/nowplaying.js"></script>
  <script src="/js/player.js"></script>
  <script src="/js/setup.js"></script>
  <script src="/js/ui.js"></script>
  <script src="/js/utils.js"></script>
  <script src="/js/views.js"></script>
  
  {% block scripts %}{% end %}
  
  <script src="/js/main.js"></script>
  
  <!-- END SCRIPTS -->

  <!-- yui profiler and profileviewer - remove for production -->
  <!-- <script src="js/profiling/yahoo-profiling.min.js"></script>
  <script src="js/profiling/config.js"></script> -->
  <!-- end profiling code -->

  <script>
   var _gaq = [['_setAccount', 'UA-3898076-11'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
</body>
</html>