{% extends "base.html" %}

{% block bodyId %}home{% end %}

{% block body %}
<div id="container">
    <header class="clearfix" id="header">
        {% include "partial/headerNav.html" %}
    </header>
    <div class="clearfix" id="main">
        <div id="logo">
            <img alt="Instant.fm - Share Music Instantly" src="/images/logo-home.png" />
            <span class="ir">Instant.fm - Share Music Playlists Instantly</span>
        </div>
        <div id="actions">
            <a href="#new" class="awesome red extralarge">Create a New Playlist</a>
        </div>
    </div>
    <div class="clearfix" id="showcase">
        <a href="/p/1">
            <div class="playlist">
                <div class="clearfix picture">
                    <img src="/images/unknown.jpg">
                    <img class="two" src="/images/unknown.jpg">
                    <img class="three" src="/images/unknown.jpg">
                    <img class="four" src="/images/unknown.jpg">
                </div>
                <h1>Feross's Running Music</h1>
            </div>
        </a>
        <div class="playlist">
            <div class="clearfix picture">
                <img src="/images/unknown.jpg">
                <img class="two" src="/images/unknown.jpg">
                <img class="three" src="/images/unknown.jpg">
                <img class="four" src="/images/unknown.jpg">
            </div>
            <h1>Feross's Running Music</h1>
        </div>
        <div class="playlist">
            <div class="clearfix picture">
                <img src="/images/unknown.jpg">
                <img class="two" src="/images/unknown.jpg">
                <img class="three" src="/images/unknown.jpg">
                <img class="four" src="/images/unknown.jpg">
            </div>
            <h1>Feross's Running Music</h1>
        </div>
        <div class="playlist">
            <div class="clearfix picture">
                <img src="/images/unknown.jpg">
                <img class="two" src="/images/unknown.jpg">
                <img class="three" src="/images/unknown.jpg">
                <img class="four" src="/images/unknown.jpg">
            </div>
            <h1>Feross's Running Music</h1>
        </div>
        <div class="playlist">
            <div class="clearfix picture">
                <img src="/images/unknown.jpg">
                <img class="two" src="/images/unknown.jpg">
                <img class="three" src="/images/unknown.jpg">
                <img class="four" src="/images/unknown.jpg">
            </div>
            <h1>Feross's Running Music</h1>
        </div>
        <div class="playlist">
            <div class="clearfix picture">
                <img src="/images/unknown.jpg">
                <img class="two" src="/images/unknown.jpg">
                <img class="three" src="/images/unknown.jpg">
                <img class="four" src="/images/unknown.jpg">
            </div>
            <h1>Feross's Running Music</h1>
        </div>
        <div class="playlist">
            <div class="clearfix picture">
                <img src="/images/unknown.jpg">
                <img class="two" src="/images/unknown.jpg">
                <img class="three" src="/images/unknown.jpg">
                <img class="four" src="/images/unknown.jpg">
            </div>
            <h1>Feross's Running Music</h1>
        </div>
        <div class="playlist">
            <div class="clearfix picture">
                <img src="/images/unknown.jpg">
                <img class="two" src="/images/unknown.jpg">
                <img class="three" src="/images/unknown.jpg">
                <img class="four" src="/images/unknown.jpg">
            </div>
            <h1>Feross's Running Music</h1>
        </div>
    </div>
    
    <footer id="footer">
      <nav>
        <div class="left">
          <span class="byline">Created by Feross Aboukhadijeh and Jake Becker from Stanford.</span>
        </div>
        <div class="right">
        </div>
      </nav>
    </footer>
</div> <!-- end of #container -->

{% end %}

{% block scripts %}
    $(function() {
        onloadHome();
    });
{% end %}