{% extends "base.html" %}

{% block bodyId %}home{% end %}

{% block body %}
<div id="container">
    <header class="clearfix" id="header">
        {% include "partial/headerNav.html" %}
    </header>
    <div class="clearfix" id="main">
        <div id="logo">
            <img alt="Instant.fm - Share Music Instantly" src="/images/logo-home.png" />
            <span class="ir">Instant.fm - Share Music Playlists Instantly</span>
        </div>
        <div id="actions">
            <a href="#new" class="awesome red extralarge">Create a New Playlist</a>
        </div>
    </div>
    
    <div class="clearfix showcase">
    {% set default_img = '/images/unknown.jpg' %}
    {% for category in categories %}
    	{% if category['playlists'] %}
    	<div class="clearfix">
    	<h1> {{ category['title'] }} </h1>
    	<div>
	        {% for playlist in category['playlists'] %}
		        <div class="playlist" href="{{playlist.url}}">
	            	{% if handler.owns_playlist(playlist) %}
	            		<a class="delete ir">Delete this playlist</a>
	            	{% end %}
	            	<a href="{{playlist.url}}">
  	           		<div class="clearfix picture">
  		                <img class="cover_art" src="{{playlist.cover_images[0] if len(playlist.cover_images) > 0 else default_img}}">
  		                <img class="cover_art two" src="{{playlist.cover_images[1] if len(playlist.cover_images) > 1 else default_img}}">
  		                <img class="cover_art three" src="{{playlist.cover_images[2] if len(playlist.cover_images) > 2 else default_img}}">
  		                <img class="cover_art four" src="{{playlist.cover_images[3] if len(playlist.cover_images) > 3 else default_img}}">
  		            </div>
		              <h2>{{playlist.title}}</h2>
		            </a>
		        </div>
	        {% end %}
        </div>
        </div>
        {% end %}
	{% end %}
    </div>
    
    <footer id="footer">
      <nav>
        <span class="byline">Created by <a href="http://www.feross.org" target="_blank">Feross Aboukhadijeh</a> and <a href="http://www.quora.com/Jake-Becker" target="_blank">Jake Becker</a> from Stanford.</span>
      </nav>
    </footer>
</div> <!-- end of #container -->

{% end %}

{% block scripts %}
    $(function() {
        onloadHome({{handler.get_current_session().json}});
    });
{% end %}