{% extends "base.html" %}

{% block bodyId %}home{% end %}

{% block body %}
<div id="container">
    <header class="clearfix" id="header">
        {% include "partial/headerNav.html" %}
    </header>
    <div class="clearfix" id="main">
        <header id="header">
            <img alt="Instant.fm - Share Music Instantly" src="/images/logo-home.png" />
            <span class="ir">Instant.fm - Share Music Playlists Instantly</span>
        </header>
        <div id="actions">
            <a href="#new" class="awesome red extralarge">Create a New Playlist</a>
        </div>
    </div>
    <div id="showcase">
        <div class="playlist">
            
        </div>
    </div>
    
    <footer id="footer">
      <nav>
        <div class="left">
          <span class="byline">Created by Feross Aboukhadijeh and Jake Becker from Stanford.</span>
        </div>
        <div class="right">
        </div>
      </nav>
    </footer>
</div> <!-- end of #container -->

{% end %}

{% block scripts %}
    $(function() {
        onloadHome();
    });
{% end %}