{% extends "base.html" %}

{% block html-classes %}{% if current_user %}loggedIn{% else %}loggedOut{% end %} {% if handler.owns_playlist(playlist) %}isOwner{% else %}isNotOwner{% end %}{% end %}

{% block bodyId %}p{% end %}

{% block backgroundStyle %}{% if playlist.bg_original is not None %}background-image:url('{{playlist.bg_original}}'){% end %}{% end %}
{% block body %}
<div id="container">
  <header class="clearfix" id="header">
    <a class="ir" href="/" id="headerLogo">
      <h1>Instant.fm - Share Music Playlists Instantly</h1>
    </a>
    <nav>
      <a id="navNewPlaylist" href="#new">New Playlist</a>
      <a id="navSearch" href="/search" rel="partial search" title="Search">Search</a>
      <a class="mustLogout" id="navLogin" href="#login">Log In</a>
      <a class="mustLogout" id="navSignup" href="#signUp">Sign Up</a>
      <a href="{{ handler.get_profile_url() }}" class="mustLogin profileLink" id="navProfile" href="#profile"> {{ handler.render_user_name() }} </a>
      <a class="mustLogin" id="navLogout" href="#logout">Log Out</a>
    </nav>
  </header>
  <div class="clearfix" id="main"> 
       
    <section id="playlistDisplay">
    
      <div id="videoDiv">
        <div id="player">
          <noscript>This content requires the Adobe Flash Player. <a href="http://www.adobe.com/go/getflash/">Get Flash</a>.</noscript>
        </div>
        <h2 id="altPlaylistTitle"></h2>
      </div>
      
      <div id="playlistDiv">
        <ul id="playlist">
          <!-- Loaded via JS -->
        </ul>
      </div>
 
      <div id="playlistToolbar">
        <div class="left">
          <a href="#toggleVideo" class="on" id="toggleVideo"><span>Show Video</span></a>
          <a href="#toggleShuffle" id="toggleShuffle"><span>Shuffle</span></a>
          <a href="#toggleRepeat" id="toggleRepeat"><span>Repeat</span></a>
        </div>
        <div class="right">
          <a href="/search" class="mustOwn" id="addSongs" rel="partial search" title="Add Songs"><span>Add Songs</span></a>
        </div>
      </div>
      
    </section> <!-- end of #playlistDisplay -->
  
    <section id="browserDisplay">
      
      <div id="behind">
        
        <header class="iPhoneHeader black" id="nowPlayingHeader">
          <span class="left"><!-- not used on now playing view --></span>
          <div class="title"><h1>Now Playing</h1></div>
          <a class="right black" href="#open">
            <span class="mustNotOwn">Search</span>
            <span class="mustOwn">Add Songs</span>
          </a>
        </header>
        
        <div id="nowPlayingContainer">
          
          <section id="nowPlaying" class="slide">
            
            <section id="curPlaylist"></section>
            
            <script id="curPlaylistTemplate" type="text/x-jquery-tmpl">
              <header class="clearfix">
                <h2 id="curPlaylistTitle">${title}</h2>
                <div>
                  {% comment My god this method of escaping is awful. %}
                  {{'{{'}}if owner_name}}
                    by
                    {{'{{'}}if owner_url}}
                      <a href=${owner_url}>
                    {{'{{'}}/if}}
                    ${owner_name} 
                    {{'{{'}}if owner_url}}
                      </a>
                    {{'{{'}}/if}}
                  {{'{{'}}/if}}
                </div>
              </header>
            
              <article>
                <span id="curPlaylistDesc">${description}</span>
              </article>
            </script>
            
            <!-- <a href="#TODO" id="curPlaylistAuthor">
              <img alt="Feross Aboukhadijeh" src="/images/profilepic.jpg" />
              <div>Feross Aboukhadijeh</div>
            </a> -->
            
            <section id="playlistActions">
              <a href="#addComment" id="addComment" class="awesome white">
                Add a Comment
              </a>
              <a href="#fbShare" id="fbShare" class="darkblue awesome">
                Share on Facebook
              </a>
              <a href="#twShare" id="twShare" class="blue awesome">
                Share on Twitter
              </a>
            </section> <!-- end of #playlistActions -->
        
            <hr class="separator">

            <section id="curPlaying">
              <!-- <header><h3>What song is playing?</h3></header> -->
              <div class="clearfix" id="curAlbumBlock"></div>
              <script id="curAlbumBlockTemplate" type="text/x-jquery-tmpl">
                <a id="curAlbumImg" class="albumImg reflect" href="#" title="${albumTitle}">
                  <img alt="${albumAlt}" src="${albumImg}">
                  {{'{{'}}if albumImg != '/images/unknown.jpg'}}
                    <span class="zoomIcon"></span>
                  {{'{{'}}/if}}
                </a>
                <div id="curAlbumInfo">
                
                  <div id="curSong">
                    <h4>${trackName}</h4>
                  </div>
                  
                  {{'{{'}}if artistName && artistHref}}
                    <div id="curArtist">
                      <span class="curLabel">by</span> 
                      <h4><a href="${artistHref}" title="${artistName}" rel="partial artist">${artistName}</a></h4>
                    </div>
                  {{'{{'}}/if}}
                  <div id="curAlbum" style="display:none;">
                    <span class="curLabel">on</span> 
                    <h4></h4>
                  </div>
                  
                  <div id="curButtons" style="display:none;">
                    <fb:like href="${songHref}" show_faces="true" width="340"></fb:like>
                  </div>
                  
                </div>
              </script>
              <div id="curDescs">
                <section id="curSongDesc"></section>
                <script id="curSongDescTemplate" type="text/x-jquery-tmpl">
                  <h4>${trackName}</h4> 
                  <article>{{'{{'}}html trackDescription}}</article>
                </script>
                
                <section class="artistDesc" id="curArtistDesc"></section>
                <script id="curArtistDescTemplate" type="text/x-jquery-tmpl">
                  <h4>${artistName}</h4>
                  <a id="curArtistImg" class="artistImg reflect" href="#" title="${artistName}">
                    <img alt="${artistName}" src="${artistImg}">
                    <span class="zoomIcon"></span>
                  </a>
                  <article>{{'{{'}}html artistDescription}}</article>
                </script>
              </div> <!-- end of #curDescs -->

            </section> <!-- end of #curPlaying -->

          </section> <!-- end of #nowPlaying -->
              
        </div> <!-- end of #nowPlayingContainer -->
        
      </div> <!-- end of #behind -->
      
      <div class="animate" id="modal">
        
        <header class="iPhoneHeader blue" id="browserHeader">
          <span class="left"><!-- dynamic back button --></span>
          <div class="title"><!-- dynamic title --></div>
          <a class="right black" href="#close">Now Playing</a>
        </header>
        
        <div id="browser">
          <div id="FS_slider">
            <div id="FS_holder">
              {% block mini-browser %}
              {% end %}
            </div> <!-- end of #FS_holder -->
          </div> <!-- end of #FS_slider -->
        </div> <!-- end of #browser -->
        
      </div> <!-- end of #modal -->
     
    </section> <!-- end of #browserDisplay -->

  </div> <!-- end of #main -->
  
  <footer id="footer">
    <nav>
      <a href="/">Instant.fm</a>
      <a href="#">Meet The Team</a>
      <span class="byline">Created by Feross, Jake, and John from Stanford.</span>
      <a href="#helpBox" id="helpLink">Keyboard shortcuts available</a>
    </nav>
  </footer>
</div> <!-- end of #container -->

<div id="backgroundMsg">
  Push the 'B' key again to bring back the controls.
</div>

<div class="invisible" id="devNull">
  <div id="curAlbumImgZoom">&nbsp;</div>
  <div id="curArtistImgZoom">&nbsp;</div>

  <div class="colorbox" id="helpBox">
    <header>Keyboard shortcuts</header>
    
    <section>
      <header>Playback Control</header>
      <dl class="clearfix">
        <dt>space</dt>
        <dd>Play/pause</dd>
      </dl>
      <dl class="clearfix">
        <dt>&larr;</dt>
        <dt>&rarr;</dt>
        <dd>Previous/next song</dd>
      </dl>
      <dl class="clearfix">
        <dt>+</dt>
        <dt>-</dt>
        <dd>Increase/decrease volume</dd>
      </dl>
      <dl class="clearfix">
        <dt>S</dt>
        <dd>Shuffle on/off</dd>
      </dl>
      <dl class="clearfix">
        <dt>R</dt>
        <dd>Repeat song on/off</dd>
      </dl>
      <dl class="clearfix">
        <dt>V</dt>
        <dd>Show/hide video</dd>
      </dl>
    </section>
    <section>
      <header>Playlist Editing</header>
      <dl class="clearfix">
        <dt>K</dt>
        <dd>Move current song up</dd>
      </dl>
      <dl class="clearfix">
        <dt>J</dt>
        <dd>Move current song down</dd>
      </dl>
    </section>
    <section>
      <header>Navigation</header>
      <dl class="clearfix">
        <dt>N</dt>
        <dd>New playlist</dd>
      </dl>
      <dl class="clearfix">
        <dt>F</dt>
        <dd>Search for songs</dd>
      </dl>
      <dl class="clearfix">
        <dt>ESC</dt>
        <dd>Go back (in the mini-browser)</dd>
      </dl>
      <dl class="clearfix">
        <dt>?</dt>
        <dd>Bring up this help dialog</dd>
      </dl>
    </section>
    <section>
      <header>For Fun</header>
      <dl class="clearfix">
        <dt>B</dt>
        <dd>Show background image</dd>
      </dl>
      <dl class="clearfix">
        <dt>L</dt>
        <dd>Show current song</dd>
      </dl>
    </section>
  </div> <!-- end of #helpBox -->
  
  <div class="colorbox" id="newPlaylistBox">
    <header>New Playlist</header>
    
    <div class="error" id="newPlaylistErrors"></div>
    
    <form id="newPlaylistForm">
      <div class="clearfix formRow">
        <label for="newPlaylistTitle">Title</label>
        <textarea id="newPlaylistTitle" name="title" type="text" required="required" placeholder="e.g. Workout Music, 90's Rock ..."></textarea>
      </div>
      <div class="clearfix formRow">
        <label for="newPlaylistDescription">Description</label>
        <textarea id="newPlaylistDescription" name="description" type="text" placeholder="Optional"></textarea>
      </div>
      <div class="clearfix">
        <input type="submit" class="red large awesome" name="submit" id="submitNewPlaylist" value="Create">
      </div>
      {{ xsrf_form_html() }}
    </form>
  </div>
  
  <div class="colorbox" id="loginBox">
    <header>Log In</header>
    
    <div class="error" id="loginErrors"></div>
    
    <form id="login">
      <div class="clearfix formRow">
        <label for="loginEmail">E-mail</label>
        <input id="loginEmail" type="email" name="email" required="required" spellcheck="false" />
      </div>
      <div class="clearfix formRow">
        <label for="loginPassword">Password</label>
        <input id="loginPassword" type="password" name="password" required="required"/>
      </div>
            
      <div class="clearfix">
        <div class="formBottomNote" id="loginSignup">No account? <strong><a href="#">Sign up!</a></strong></div>
        <input type="submit" class="red large awesome" name="submit" id="submitLogin" value="Login">
        <div id="rememberMe">
          <input type="checkbox" name="passwordless" checked="checked" />
          <label for="passwordless">Remember me</label>
        </div>
      </div>
      
      {{ xsrf_form_html() }}
    </form>
  </div>
   
  <div class="colorbox" id="signupBox">
    <header>Sign Up <span class="subtitle">(1 of 2)</span></header>
      
    <div id="signupStep1">
      <div id="fbSignupPitch">
        Share and discover <strong>amazing music playlists</strong>.
      </div>
    
      <a id="fbConnectButton" class="large darkblue awesome">Connect with Facebook</a>
    
      <div id="fbFacepile">
        <!-- automatically populated when colorbox is opened -->
      </div>
    </div>
    
    <div id="signupStep2" style="display: none;">
      
      <div class="error" id="registrationMsg"></div>
      <div class="error" id="registrationErrors"></div>
                        
      <form id="fbSignupForm" method="post">
            
        <div class="clearfix formRow">
          <div id="fbProfileImage"></div>
          <label for="fbName">Full Name</label>
          <input id="fbName" type="text" name="name" value="" maxlength="32" required="required" spellcheck="false" />
          <span>Use your real name.</span>
        </div>
  
        <div class="clearfix formRow">
          <label for="fbEmail">E-mail</label>
          <input id="fbEmail" type="email" name="email" required="required" spellcheck="false" />
        </div>   
         
        <div class="clearfix formRow">
          <label for="fbPassword">Password</label>
          <input id="fbPassword" type="password" name="password" title="Passwords must be at least 4 characters" required="required"/>
        </div>
      
        <div class="clearfix">
          <div class="formBottomNote" id="agreeToTerms">I agree to the <a href="/terms" target="_blank">Terms of Service</a>.</div>
          <input type="submit" class="darkblue awesome large" name="submit" id="submitFbSignupForm" value="Create Account">
        </div>
      
        <input type="hidden" name="auth_token"></input>
        <input type="hidden" name="fb_user_id"></input>
        {{ xsrf_form_html() }}

      </form>
              
    </div>
  </div> <!-- end of #signupBox -->    
</div> <!-- end of #devNull -->

{% end %}

{% block scripts %}
  {% block scripts-partial %}{% end %}
  <script>
    var initial_playlist = {{ json.dumps(playlist.__dict__).replace('<', '\u003c').replace('>', '\u003e') if playlist else 'null' }};
      $(function() {
          onloadPlaylist();
      });
  </script>
{% end %}