{% extends "base.html" %}

{% block html-classes %}{% if handler.get_current_user() is not None %}loggedIn{% else %}loggedOut{% end %} {% if handler.owns_playlist(playlist) %}isOwner{% else %}isNotOwner{% end %}{% end %}

{% block bodyId %}p{% end %}

{% block backgroundStyle %}{% if playlist is not None and playlist.image is not None %}background-image:url('{{playlist.image.original}}'){% end %}{% end %}
{% block body %}
{% import utils %}
<div id="container">
  <header class="clearfix" id="header">
    <a class="ir" href="/" id="headerLogo">
      <h1>Instant.fm - Share Music Playlists Instantly</h1>
    </a>
    <nav>
      <a id="navNewPlaylist" href="#new">New Playlist</a>
      <a id="navSearch" href="/search" rel="partial search" title="Search">Search</a>
      <a class="mustLogout" id="navLogin" href="#login">Log In</a>
      <a class="mustLogout" id="navSignup" href="#signUp">Sign Up</a>
      <a href="{{ handler.get_current_user().url if handler.get_current_user() else '' }}" class="mustLogin profileLink username" id="navProfile" href="#profile"> 
            {{ handler.get_current_user().name if handler.get_current_user() else ''}} 
      </a>
      <a class="mustLogin" id="navLogout" href="#logout">Log Out</a>
    </nav>
  </header>
  <div class="clearfix" id="main"> 
       
    <section id="playlistDisplay">
    
      <div id="videoDiv">
        <div id="player">
          <noscript>This content requires the Adobe Flash Player. <a href="http://www.adobe.com/go/getflash/">Get Flash</a>.</noscript>
        </div>
        <h2 id="altPlaylistTitle"></h2>
      </div>
      
      <div id="playlistDiv">
        <ul id="playlist">
          <!-- Loaded via JS -->
        </ul>
      </div>
 
      <div id="playlistToolbar">
        <div class="left">
          <a href="#toggleVideo" class="on" id="toggleVideo"><span>Show Video</span></a>
          <a href="#toggleShuffle" id="toggleShuffle"><span>Shuffle</span></a>
          <a href="#toggleRepeat" id="toggleRepeat"><span>Repeat</span></a>
        </div>
        <div class="right">
          <a href="/search" class="mustOwn" id="addSongs" rel="partial search" title="Add Songs"><span>Add Songs</span></a>
        </div>
      </div>
      
    </section> <!-- end of #playlistDisplay -->
  
    <section id="browserDisplay">
      
      <div id="behind">
        
        <header class="iPhoneHeader black" id="nowPlayingHeader">
          <span class="left"><!-- not used on now playing view --></span>
          <div class="title"><h1>Now Playing</h1></div>
          <a class="right black" href="#open">
            <span class="mustNotOwn">Search</span>
            <span class="mustOwn">Add Songs</span>
          </a>
        </header>
        
        <div id="nowPlayingContainer">
          
          <section id="nowPlaying" class="slide">
            
            <section id="curPlaylist"></section>
            
            <script id="curPlaylistTemplate" type="text/x-jquery-tmpl">
              <header class="clearfix">
                <h2 id="curPlaylistTitle">${title}</h2>
              </header>

              <div id="byline"> </div>
            
              <article>
                <span id="curPlaylistDesc">${description}</span>
              </article>
            </script>
            
            <section id="playlistActions">
              <a href="#addComment" id="addComment" class="awesome white">
                Add a Comment
              </a>
              <a href="#fbShare" id="fbShare" class="darkblue awesome">
                Share on Facebook
              </a>
              <a href="#twShare" id="twShare" class="blue awesome">
                Share on Twitter
              </a>
            </section> <!-- end of #playlistActions -->
                
            <hr class="separator">

            <section id="curPlaying">
              <div class="clearfix" id="curAlbumBlock"></div>
              <script id="curAlbumBlockTemplate" type="text/x-jquery-tmpl">
                <a id="curAlbumImg" class="albumImg reflect" href="#" title="${albumTitle}">
                  <img alt="${albumAlt}" src="${albumImg}">
                  {{'{{'}}if albumImg != '/images/unknown.jpg'}}
                    <span class="zoomIcon"></span>
                  {{'{{'}}/if}}
                </a>
                <div id="curAlbumInfo">
                
                  <div id="curSong">
                    <h4>${trackName}</h4>
                  </div>
                  
                  {{'{{'}}if artistName && artistHref}}
                    <div id="curArtist">
                      <span class="curLabel">by</span> 
                      <h4><a href="${artistHref}" title="${artistName}" rel="partial artist">${artistName}</a></h4>
                    </div>
                  {{'{{'}}/if}}
                  <div id="curAlbum" style="display:none;">
                    <span class="curLabel">on</span> 
                    <h4></h4>
                  </div>
                  
                  <!-- <div id="curButtons">
                    <a class="small awesome white mp3" href="#mp3">MP3</a>
                  </div> -->
                  
                  <div id="curSongLike" style="display:none;">
                    <div class="likeButton">
											<fb:like href="${songHref}" layout="button_count" show_faces="false" width="50"></fb:like>
										</div>
										<div class="likeText">Share this song with your friends.</div>
                  </div>
                  
                </div>
              </script>
              <div id="curDescs">
                <section id="curSongDesc"></section>
                <script id="curSongDescTemplate" type="text/x-jquery-tmpl">
                  <h4>${trackName}</h4> 
                  <article>{{'{{'}}html trackDescription}}</article>
                </script>
                
                <section class="artistDesc" id="curArtistDesc"></section>
                <script id="curArtistDescTemplate" type="text/x-jquery-tmpl">
                  <h4>${artistName}</h4>
                  <a id="curArtistImg" class="artistImg reflect" href="#" title="${artistName}">
                    <img alt="${artistName}" src="${artistImg}">
                    <span class="zoomIcon"></span>
                  </a>
                  <article>{{'{{'}}html artistDescription}}</article>
                </script>
              </div> <!-- end of #curDescs -->

            </section> <!-- end of #curPlaying -->

          </section> <!-- end of #nowPlaying -->
              
        </div> <!-- end of #nowPlayingContainer -->
        
      </div> <!-- end of #behind -->
      
      <div class="animate" id="modal">
        
        <header class="iPhoneHeader blue" id="browserHeader">
          <span class="left"><!-- dynamic back button --></span>
          <div class="title"><!-- dynamic title --></div>
          <a class="right black" href="#close">Now Playing</a>
        </header>
        
        <div id="browser">
          <div id="FS_slider">
            <div id="FS_holder">
              {% block mini-browser %}
              {% end %}
            </div> <!-- end of #FS_holder -->
          </div> <!-- end of #FS_slider -->
        </div> <!-- end of #browser -->
        
      </div> <!-- end of #modal -->
     
    </section> <!-- end of #browserDisplay -->

  </div> <!-- end of #main -->
  
  <footer id="footer">
    <nav>
      <div class="left">
        <span class="byline">Created by Feross and Jake from Stanford.</span>
        <a href="/static/meetTheTeam.html" id="navMeetTheTeam" rel="partial static" title="Meet the Team">Meet the Team</a>
      </div>
      <div class="right">
        <a href="/static/reportBug.html" id="navReportBug" rel="partial static" title="Report a Bug">Report a Bug</a>
        <a href="#helpBox" id="navShortcuts">Keyboard Shortcuts</a>
        <a href="#" id="navSettings">Settings</a>
      </div>
    </nav>
  </footer>
</div> <!-- end of #container -->

<div id="backgroundMsg">
  Push the 'B' key again to bring back the controls.
</div>

<div class="invisible" id="devNull">
  {% include "partial/colorbox_help.html" %}
  {% include "partial/colorbox_newPlaylist.html" %}
  {% include "partial/colorbox_login.html" %}

  <section id="comments"></section>

</div> <!-- end of #devNull -->

{% end %}

{% block scripts %}
  {% block scripts-partial %}{% end %}
  <script>
    $(function() {
        onloadPlaylist();
        setSession({{handler.get_current_session().json}});
        {% if playlist is not None %}
        player.loadPlaylist({{playlist.json}})
        {% else %}
            {% block lastfm_playlist_loader %}
            {% end %}
        {% end %}
    });
  </script>
{% end %}