{% extends "base.html" %}

{% block bodyId %}p{% end %}

{% block body %}
  <div class="clearfix" id="main">
    <div id="playlistDisplay">
    
      <header id="header">
        <a class="ir" href="/" id="headerLogo">
          <h1>Instant.fm - Share Music Playlists Instantly</h1>
        </a>
      </header>
    
      <div id="videoDiv">
        <div id="videoTools">
          <a href="#toggleShuffle" id="toggleShuffle" class="small awesome white">
            Shuffle
          </a>
          <a href="#toggleRepeat" id="toggleRepeat" class="small awesome white">
            Repeat
          </a>
          <a href="#hideVideo" id="hideVideo" class="small awesome white">
            Hide Video
          </a>
        </div>
        <div id="hiddenVideoTools">
          <a href="#showVideo" id="showVideo" class="small awesome white">
            Show Video
          </a>
        </div>
        <div id="player">&nbsp;</div>
      </div>
      
      <div id="playlistDiv">
        <ul id="playlist">
          <!-- Loaded via JS -->
        </ul>
      </div>
      
    </div> <!-- end of #playlistDisplay -->
  
    <div id="infoDisplay">
      
      <nav class="clearfix" id="headerMenu">
        <a href="#new">New Playlist</a>
        <a href="/search" rel="search" id="searchLink" title="Search Instant.fm">Search</a>
        <a href="#myLists">My Playlists</a>
        <a href="#signUp">Sign up</a>
      </nav>
    
      <div id="FS_slider" class="clearfix">
        <div id="FS_holder">
          {% block mini-browser %}
          {% end %}
        </div> <!-- end of #FS_holder -->
      </div> <!-- end of #FS_slider -->      
        
      <footer id="footer">
        <strong><a href="#">Instant.fm</a></strong> |
        <a href="#">FAQ</a> |
        <a href="#">Blog</a> |
        <a href="#">Contact</a>
        <a href="#helpBox" id="helpLink">Keyboard shortcuts available</a>
      </footer>
    
    </div> <!-- end of #infoDisplay -->
  

  </div> <!-- end of #main -->

  <div class="invisible" id="devNull">
    <div id="curAlbumImgZoom">&nbsp;</div>
    <div id="curArtistImgZoom">&nbsp;</div>
  
    <div id="helpBox">
      <div class="fancyZoomHeader">Keyboard shortcuts</div>
      
      <section class="helpSection">
        <div class="fancyZoomSectionHeader">Playback Control</div>
        <dl class="clearfix shortcut">
          <dt class="key">space</dt>
          <dd class="action">Play/pause</dd>
        </dl>
        <dl class="clearfix shortcut">
          <dt class="key">&larr;</dt>
          <dt class="key">&rarr;</dt>
          <dd class="action">Previous/next song</dd>
        </dl>
        <dl class="clearfix shortcut">
          <dt class="key">+</dt>
          <dt class="key">-</dt>
          <dd class="action">Increase/decrease volume</dd>
        </dl>
        <dl class="clearfix shortcut">
          <dt class="key">S</dt>
          <dd class="action">Toggle shuffle</dd>
        </dl>
        <dl class="clearfix shortcut">
          <dt class="key">R</dt>
          <dd class="action">Toggle repeat song</dd>
        </dl>
        <dl class="clearfix shortcut">
          <dt class="key">V</dt>
          <dd class="action">Toggle video display</dd>
        </dl>
      </section>
      <section class="helpSection">
        <div class="fancyZoomSectionHeader">Playlist Editing</div>
        <dl class="clearfix shortcut">
          <dt class="key">A</dt>
          <dd class="action">Add songs</dd>
        </dl>
        <dl class="clearfix shortcut">
          <dt class="key">K</dt>
          <dd class="action">Move current song up</dd>
        </dl>
        <dl class="clearfix shortcut">
          <dt class="key">J</dt>
          <dd class="action">Move current song down</dd>
        </dl>
      </section>
      <section class="helpSection">
        <div class="fancyZoomSectionHeader">Navigation</div>
        <dl class="clearfix shortcut">
          <dt class="key">L</dt>
          <dd class="action">Go to Current Song</dd>
        </dl>
        <dl class="clearfix shortcut">
          <dt class="key">ESC</dt>
          <dd class="action">Go back one page</dd>
        </dl>
        <dl class="clearfix shortcut">
          <dt class="key">?</dt>
          <dd class="action">Bring up this help dialog</dd>
        </dl>
      </section>
    </div> <!-- end of #helpBox -->
          
  </div> <!-- end of #devNull -->
{% end %}

{% block scripts %}
    {% block scripts-partial %}{% end %}
    <script>
      var initial_playlist = {{ playlist.replace('<', '\u003c').replace('>', '\u003e') if playlist else 'null' }};
        $(function() {
            onloadPlaylist();
        });
    </script>
{% end %}