{% extends "base.html" %}

{% block bodyId %}terms{% end %}

{% block body %}
<div id="container">
  <header class="clearfix" id="header">
    <a class="ir" href="/" id="headerLogo">
      <h1>Instant.fm - Share Music Playlists Instantly</h1>
    </a>
  </header>
  <div class="clearfix" id="main">
    <h1>Terms of Service</h1>
    
    <p>Instant.fm makes use of music data from <a href="http://www.last.fm/">Last.fm</a>, under the <a href="http://www.last.fm/api/tos">Last.fm API Terms of Service.</a></p>
      
      
    <h1>Privacy Policy</h1>
    
    <p>Instant.fm respects each individual's right to personal privacy. We will collect and use information through our Web site only in the ways disclosed in this statement. This statement applies solely to information collected at the Instant.fm Web site.</p>

    <h2>Part I. Information Collection</h2>

    <p>Instant.fm does not collect personally identifiable information about you without your permission. We will not sell or distribute your personal information, or anything that will personally identify you, to anyone.</p>

    <p>Instant.fm does not actively market to children, and we never knowingly ask a child under 13 to divulge personal information.</p>

    <p>We use several third-party web tools to help us with the maintenance of our website - and these third-party tools are governed by their own privacy policies.</p>

    <p>In some instances a cookie may be set on your computer during your visit at Instant.fm. A cookie is a small text file that our Web server places on a user's computer hard drive to be a unique identifier. Cookies enable Instant.fm to track usage patterns and deliver customized content to users. Our cookies do not collect personally identifiable information.</p>

    <h2>Part II. Information Usage.</h2>

    <p>We offer links to other Web sites. Please note: When you click on links to other Web sites, we encourage you to read their privacy policies. Their standards may differ from ours.</p>

    <p>If our policy on information collection or uses changes, it is your responsibility to visit this page again to get our latest policies.</p>
      
  </div>
{% end %}