<div class="colorbox" id="loginBox">
  <header>Log In</header>
  
  <div class="errors"></div>
  
  <form id="login">
    <div class="clearfix formRow">
      <label for="loginEmail">E-mail</label>
      <input id="loginEmail" type="email" name="email" required="required" spellcheck="false" />
    </div>
    <div class="clearfix formRow">
      <label for="loginPassword">Password</label>
      <input id="loginPassword" type="password" name="password" required="required"/>
    </div>
          
    <div class="clearfix">
      <div class="formBottomNote" id="loginSignup">No account? <strong><a href="#">Sign up!</a></strong></div>
      <div class="clearfix colorboxSubmitButtons">
        <div id="rememberMe">
          <input type="checkbox" name="remember_me" id="remember_me" checked="checked" />
          <label for="remember_me">Remember me</label>
        </div>
        <input type="submit" class="red large awesome" name="submit" id="submitLogin" value="Login">
      </div>
    </div>
  </form>
</div>