<div class="colorbox" id="helpBox">
  <header>Keyboard Shortcuts</header>
  
  <section>
    <header>Playback Control</header>
    <dl class="clearfix">
      <dt>space</dt>
      <dd>Play/pause</dd>
    </dl>
    <dl class="clearfix">
      <dt>&larr;</dt>
      <dt>&rarr;</dt>
      <dd>Previous/next song</dd>
    </dl>
    <dl class="clearfix">
      <dt>+</dt>
      <dt>-</dt>
      <dd>Increase/decrease volume</dd>
    </dl>
    <dl class="clearfix">
      <dt>S</dt>
      <dd>Shuffle on/off</dd>
    </dl>
    <dl class="clearfix">
      <dt>R</dt>
      <dd>Repeat song on/off</dd>
    </dl>
    <dl class="clearfix">
      <dt>V</dt>
      <dd>Show/hide video</dd>
    </dl>
  </section>
  <section>
    <header>Playlist Editing</header>
    <dl class="clearfix">
      <dt>K</dt>
      <dd>Move current song up</dd>
    </dl>
    <dl class="clearfix">
      <dt>J</dt>
      <dd>Move current song down</dd>
    </dl>
  </section>
  <section>
    <header>Navigation</header>
    <dl class="clearfix">
      <dt>N</dt>
      <dd>New playlist</dd>
    </dl>
    <dl class="clearfix">
      <dt>F</dt>
      <dd>Search for songs</dd>
    </dl>
    <dl class="clearfix">
      <dt>ESC</dt>
      <dd>Go back (in the mini-browser)</dd>
    </dl>
    <dl class="clearfix">
      <dt>?</dt>
      <dd>Bring up this help dialog</dd>
    </dl>
  </section>
  <section>
    <header>For Fun</header>
    <dl class="clearfix">
      <dt>A</dt>
      <dd>Announce the current song</dd>
    </dl>
    <dl class="clearfix">
      <dt>B</dt>
      <dd>Show background image</dd>
    </dl>
    <dl class="clearfix">
      <dt>L</dt>
      <dd>Show current song</dd>
    </dl>
  </section>
</div> <!-- end of #helpBox -->